# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
build/

# Virtual environments
.venv/
venv/

# OS / Editor
.DS_Store
.idea/
.vscode/

# Streamlit
.streamlit/

# Project runtime data (do not commit)
data/
storage/

# Logs
*.log
